<a href="https://colab.research.google.com/github/Josep-Am/Entri_DSML_D30/blob/main/practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = int(input("enter a number:"))
print(a," is even") if a%2==0 else print(a," is odd")

enter a number:77
77  is odd

In [ ]:
a=int(input("enter upper limit:"))
i=1
while i<=a:
  print(i)
  i+=1

enter upper limit:10
1
2
3
4
5
6
7
8
9
10

In [ ]:
a=int(input("enter upper limit:"))
b=int(input("enter break limit:"))
i=1
while i<=a:
  print(i)
  if i==b:
    break
  i+=1

enter upper limit:80
enter break limit:2
1
2

In [ ]:
a=int(input("enter upper limit:"))
b=int(input("enter continue limit:"))
i=0
while i<a:
  i+=1

  if i==b:
    continue
  print(i)

enter upper limit:10
enter continue limit:6
1
2
3
4
5
7
8
9
10

In [ ]:
a=int(input("enter upper limit:"))
print("the odd numbers in the limit of",a)

i=0
while i<a:
  i+=1

  if i%2==0:
    continue
  print(i)

enter upper limit:10
the odd numbers in the limit of 10
1
3
5
7
9

In [ ]:
for i in "banana":
  print(i)
  print("")

b

a

n

a

n

a

In [ ]:

l=[1,2,3,4,5]
for i in l:
  print(i+10)
  print("")

11

12

13

14

15

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(0,20,5):
  print(i)

0
5
10
15

In [ ]:
from os import XATTR_REPLACE
l=["apple","banana","cherry"]
for x in l:
  print(x)

apple
banana
cherry

In [ ]:
adj=["red","big","tasty"]
fruits = ["apple","banana","cherry"]
for i in adj:
  for j in fruits:
    print(f"{i} {j}")

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [2]:
a=int(input("enter a number"))
if a<2:
  print(f"{a} not prime no")
else:
  is_prime = False
  for i in range(2,a):
    if(a%i== 0):
      is_prime = True
      break
  if is_prime:
    print(f"{a} is not prime")
  else:
    print(f"{a} is prime")

enter a number50
50 is not prime

In [2]:
txt="the best things in life are free"
txt[5]

'e'

In [8]:
txt[5:10]
txt[-4:-1]# slicing examples

'fre'

In [9]:
txt.upper()

'THE BEST THINGS IN LIFE ARE FREE'

In [10]:
"amal reju joseph".title()

'Amal Reju Joseph'

In [14]:
a="#hello world "
a.strip("#")#to remove elements or characters from front and back

'hello world '

In [15]:
a.count("world")#count strings and substrings

1

In [17]:
a.split("o")

['#hell', ' w', 'rld ']

In [23]:
txt="hello 4 world 10"
l=txt.split()
for j in l:
    if j.isnumeric():
      print(j)

4
10

In [2]:
l=["apple","banana","cherry"]
l.append(["mango"])
print(l)

['apple', 'banana', 'cherry', ['mango']]

In [3]:
l=["apple","banana","cherry"]
l.insert(1,"watermelon")
print(l)

['apple', 'watermelon', 'banana', 'cherry']

In [7]:

l=["apple","banana","cherry"]
m=["mango","pineapple"]

n=l+m
print(n)
l.extend(m)
print(l)

['apple', 'banana', 'cherry', 'mango', 'pineapple']
['apple', 'banana', 'cherry', 'mango', 'pineapple']

In [9]:
l=["apple","banana","cherry"]
l.pop(1)
#print(l)

'banana'

**tuple**

In [10]:
mytuple = ("mango","apple","banana","cherry")
print(mytuple)

('mango', 'apple', 'banana', 'cherry')

# **tuples are unchangable and we have to change it to list**

In [11]:
x=("mango","apple","banana","cherry")
y=list(x)
y[1]='kiwi'
x=tuple(y)
print(x)

('mango', 'kiwi', 'banana', 'cherry')

In [13]:
#tuple can we concatinated
x=("mango","apple","banana","cherry")
y=("orange",)
x += y
print(x)

('mango', 'apple', 'banana', 'cherry', 'orange')

In [14]:
x=("mango","apple","banana","cherry")
if "apple" in x:
  print("yes 'apple' is int the tuple")

yes 'apple' is int the tuple

In [2]:
x=("mango","apple","banana","cherry")
(yellow,red,green,pink)=x # unpacking tuple, ie creating variables for elements in a tuple x
red

'apple'

In [3]:
x=("mango","apple","banana","cherry")
(yellow,red,*green)=x

In [4]:
green

['banana', 'cherry']

In [7]:
x=("mango","apple","banana","cherry")
for i in range(len(x)):
  print(i)
  print(x[i])

0
mango
1
apple
2
banana
3
cherry

In [9]:
x=("mango","apple","banana","cherry")
i = 0
while i<len(x):
  print(i)
  print(x[i])
  i+=1

0
mango
1
apple
2
banana
3
cherry

In [10]:
set={"apple","banana","cherry","apple"} # no repeatation in set
print(set)

{'cherry', 'apple', 'banana'}

In [20]:
x=[1,2,3,2,3,4,5,5,6,]

In [22]:
set={"apple","banana","cherry","apple"}
set.add("orange")
print(set)

{'cherry', 'apple', 'orange', 'banana'}

In [23]:
set={"apple","banana","cherry","apple"}
set.remove("apple") # or set.discard("apple")
print(set)

{'cherry', 'banana'}

DICTIONARIES (KEY:VALUES) PARS

In [24]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [25]:
thisdict["model"]

'Mustang'

In [26]:
thisdict["brand"]="BMW"
print(thisdict)

{'brand': 'BMW', 'model': 'Mustang', 'year': 1964}

In [27]:
thisdict["model"]="m5"
print(thisdict)

{'brand': 'BMW', 'model': 'm5', 'year': 1964}

In [30]:
thisdict["colors"]=["blue","red"] # if color exists then it will update, else will create
print(thisdict)

{'brand': 'BMW', 'model': 'm5', 'year': 1964, 'color': 'blue', 'colors': ['blue', 'red']}