<a href="https://colab.research.google.com/github/Josep-Am/Entri_DSML_D30/blob/main/Task4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a program to create a function show_employee() using the
   following conditions.
* It should accept the employeeâ€™s name and salary and display both.
* If the salary is missing in the function call then assign default value
  9000 to salary

In [1]:
def show_employee(name,salary=9000):
    print(f'Employee name is {name} and salary is {salary}')
show_employee("ben",12000)
show_employee("Jessica")

Employee name is ben and salary is 12000
Employee name is Jessica and salary is 9000

2.Create an outer function that will accept two parameters, a and b Create an inner function inside an outer function that will calculate the addition of a and b At last, an outer function will add 5 into addition and return it

In [4]:
def outer_function(a,b):
    def inner_function(a,b):
        return a+b
    return inner_function(a,b)+5
outer_function(2,3)

10

3.Generate a Python list of all the even numbers between 4 to 30

In [9]:
x=[i for i in range(4,30) if i%2==0]
print(x)

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

4. Given a list, the task is to write a Python program to check if the value exists in the list or not using the lambda function.

In [11]:
L=[1,2,3,4,5,6]
search=int(input("Enter the number to search:  "))
result=filter(lambda x:x==search,L)
if (list(result)):
    print(f"{search} is Found")
else:
    print(f"{search} Not Found")

Enter the number to search:  8
8 Not Found

5. Sort the points based on their sum of elements in the tuples

points = [(1, 2), (5, 3), (0, 7), (3, 1)]

In [12]:
points= [(1, 2), (5, 3), (0, 7), (3, 1)]
points.sort(key=lambda x:sum(x))
print(points)

[(1, 2), (3, 1), (0, 7), (5, 3)]

6. Write a python function, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. Return the results as a list

In [14]:
def even_num():
  result=[]
  for i in range(1000,3001):
    y=[int(x) for x in str(i)]
    if all(i%2==0 for i in y):
      result.append(i)
  return result
output=even_num()
print(output)

[2000, 2002, 2004, 2006, 2008, 2020, 2022, 2024, 2026, 2028, 2040, 2042, 2044, 2046, 2048, 2060, 2062, 2064, 2066, 2068, 2080, 2082, 2084, 2086, 2088, 2200, 2202, 2204, 2206, 2208, 2220, 2222, 2224, 2226, 2228, 2240, 2242, 2244, 2246, 2248, 2260, 2262, 2264, 2266, 2268, 2280, 2282, 2284, 2286, 2288, 2400, 2402, 2404, 2406, 2408, 2420, 2422, 2424, 2426, 2428, 2440, 2442, 2444, 2446, 2448, 2460, 2462, 2464, 2466, 2468, 2480, 2482, 2484, 2486, 2488, 2600, 2602, 2604, 2606, 2608, 2620, 2622, 2624, 2626, 2628, 2640, 2642, 2644, 2646, 2648, 2660, 2662, 2664, 2666, 2668, 2680, 2682, 2684, 2686, 2688, 2800, 2802, 2804, 2806, 2808, 2820, 2822, 2824, 2826, 2828, 2840, 2842, 2844, 2846, 2848, 2860, 2862, 2864, 2866, 2868, 2880, 2882, 2884, 2886, 2888]

7.Write a python function that accepts a sentence and calculate and return the number of letters and digits.

In [24]:
def count(s):
  letters=0
  digit=0
  for i in s:
    if i.isalpha():
      letters+=1
    elif i.isdigit():
      digit+=1
  return letters,digit

s=input("Enter the string:  ")
letters,digit=count(s)
print(f"letters={letters}")
print(f"digits={digit}")

Enter the string:  How are you, 123141
letters=9
digits=6

8.Write a Python program to convert all the characters into uppercase and lowercase and eliminate duplicate letters from a given sequence. Use the map() function

In [26]:

def convert(sentence):
  upper=map(str.upper,sentence)
  lower=map(str.lower,sentence)
  uniquechars=set(upper)|set(lower)
  return uniquechars
sentence="Hello world"
result=convert(sentence)
print(f"unique characters : {result}")

unique characters : {'w', 'W', 'H', 'd', 'h', 'E', 'D', 'r', ' ', 'O', 'L', 'e', 'o', 'R', 'l'}

9. Write a Python program to element wise add two given lists and find the difference between them. Use the map() function

In [31]:
def add_sub(list1,list2):
  add=map(lambda x,y:x+y,list1,list2)
  sub=map(lambda x,y:x-y,list1,list2)
  return add,sub
list1=[1,2,3,4,5]
list2=[6,7,8,9,10]
add,sub=add_sub(list1,list2)
print(f"The addition of the two list :{list(add)}")
print(f"The difference of the two list :{list(sub)}")

The addition of the two list :[7, 9, 11, 13, 15]
The difference of the two list :[-5, -5, -5, -5, -5]

10.Write a Python program to filter the height and weight of students, which are stored in a dictionary using lambda

In [39]:
my_dict={'Cierra Vega': (6.2, 71), 'Alden Cantrell': (5.9, 65), 'Kierra Gentry': (6.0, 68), 'Pierre Cox': (5.8, 66)}
new_dict=filter(lambda x:x[1][0]>=6 and x[1][1]>=70,my_dict.items())
new_dict_list = list(new_dict)
result_dict = {k: v for k, v in new_dict_list}
print(f"height greter than 6ft and weight greater than 70kg :{result_dict}")

height greter than 6ft and weight greater than 70kg :{'Cierra Vega': (6.2, 71)}

11.Write a Python program to remove all elements from a given list present in another list using lambda.

In [40]:
l1=[1,2,3,4,5,6,7,8,9,10]
l2=[2,4,6,8]
result=list(filter(lambda x:x not in l2,l1))
print(result)

[1, 3, 5, 7, 9, 10]

12.Write a Python program to calculate the product of a given list of numbers using lambda.

In [42]:
l1=[1,2,3,4,5]
import functools
result=functools.reduce(lambda x,y:x*y,l1)
print(result)

120

13. Write a Python program to multiply all the numbers in a given list using lambda

In [43]:
l1=[1,2,3,4,5]
result=functools.reduce(lambda x,y:x*y,l1)
print(result)

120